<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="$safeprojectname$.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <!-- .exeのdllの読み込み先を「ツール直下\dll\」まで拡張 
        参考URL：https://docs.microsoft.com/ja-jp/dotnet/framework/configure-apps/file-schema/runtime/probing-element -->
        <probing privatePath="dll"/>
      </assemblyBinding>
    </runtime>
    <userSettings>
        <$safeprojectname$.Properties.Settings>
            <setting name="inputFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="outputFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="rindLoginId" serializeAs="String">
                <value />
            </setting>
            <setting name="rindPw" serializeAs="String">
                <value />
            </setting>
            <setting name="rindSaveChk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="toolPw" serializeAs="String">
                <value />
            </setting>
            <setting name="toolPwSaveChk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="inputExtension" serializeAs="String">
                <value />
            </setting>
        </$safeprojectname$.Properties.Settings>
    </userSettings>
</configuration>
